<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ServiWork"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiWork">
        
        <activity
            android:name="servi.work.MainActivity"
            android:exported="true"
            android:label="ServiWork"
            android:theme="@style/Theme.ServiWork">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PANEL DE ADMINISTRACIÓN - ACCESO RESTRINGIDO -->
        <activity 
            android:name="servi.work.features.admin.AdminDashboardActivity"
            android:exported="false"
            android:label="Centro de Mando"
            android:theme="@style/Theme.ServiWork" />

    </application>

</manifest>
